/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

/** Black */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 900;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-black-webfont.woff");
}

html, body {
  font-family: "San Francisco", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
body {
  font-size: 1.15rem;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 3rem;
}

span.alert {
  padding: .75rem 1.25rem;
  border-radius: .4rem;
}
span.alert.danger {
  background: linear-gradient(to bottom right, rgb(255, 59, 48) 0%, rgb(255, 45, 85) 100%);
}
span.alert.info {
  background: linear-gradient(to bottom right, rgb(0, 122, 255) 0%, rgb(90, 200, 250) 100%);
}

a.button {
  padding: .75rem 1.25rem;
  border-radius: .4rem;
  background: rgb(76, 217, 100);
  color: #000000 !important;
}
a:link {
  color: rgb(0, 122, 255);
  text-decoration-line: none;
}
a:visited {
  color: rgb(88, 86, 214);
  text-decoration-line: none;
}